---
import { ArticleTeaser, CountryList } from '../components';
import { BaseLayout } from '../layouts';

const postQuery = `
  *[_type == "post"] | order(publishedAt desc, _updatedAt desc) {
    _id,
    title,
    publishedAt,
    excerpt,
    "countries": countries[] -> {
      _id,
      countryCode,
      name,
      "slug": slug.current,
    },
    "slug": slug.current,
  }
`;

import { useSanityClient } from '@sanity/astro';

interface Country {
  _id: string;
  countryCode: string;
  name: string;
  slug: string;
  posts: Post[];
}

interface Post {
  _id: string;
  excerpt: string;
  publishedAt: string;
  slug: string;
  title: string;
}

const client = useSanityClient();
const posts = await client.fetch<Post[]>(postQuery);

const countries = await client.fetch<Country[]>(
  `*[_type == "country"] {
    _id,
    countryCode,
    name,
    "slug": slug.current,
  }`,
);
---

<BaseLayout
  title="About Me"
  description="Lorem ipsum dolor sit amet"
  image="/blog-placeholder-about.jpg"
>
  <div class="container">
    <CountryList countries={countries} />

    <div class="prose my-8">
      <h1 transition:name={`page-title`}>Latest Articles</h1>
    </div>
    <div class="space-y-6">
      {posts.map((post) => <ArticleTeaser {...post} />)}
    </div>
  </div>
</BaseLayout>
