---
import PortableText from '../PortableText.astro';
import Section from '../Section.astro';
---

<Section data-block="text">
  <div
    class="px-5 md:col-span-8 md:col-start-2 lg:col-span-6 lg:col-start-3 md:px-0 prose lg:prose-lg dark:prose-invert"
  >
    <PortableText value={Astro.props.node.content} />
  </div>
</Section>
