<!DOCTYPE html>
<html lang="en" class="dark">
  <head>
    {% include "head.njk" %}
    {% if site.env %}
      {% set css %}{% include "app.compiled.css" %}{% endset %}
      <style>
        {{ css | safe }}
      </style>
    {% else %}
      <link rel="stylesheet" href="/static/app.compiled.css">
    {% endif %}
  </head>
  <body class="light:bg-white dark:bg-black light:text-black dark:text-white transition duration-300 ease-in-out">
    {% set commonClasses = [
      'bg-black dark:bg-white',
      'text-white hover:text-white focus:text-white dark:text-black dark:hover:text-black dark:focus:text-black',
      'focus:outline-none focus:ring-4 ring-blue-500 ring-opacity-100 ring-offset-2',
      'rounded-lg transition duration-300 ease-in-out'
    ]|join(' ') %}
    <a class="absolute transform -translate-y-16 focus:translate-y-0 top-6 left-6 py-2 px-4 no-underline {{ commonClasses }}" href="#content">
      Skip to content
    </a>
    <button class="absolute top-6 right-6 p-2 {{ commonClasses }}" aria-label="Toggle light/dark mode" toggle-dark-mode>
      {{ '/src/_assets/icons/light.svg'|svgContents('icon text-2xl text-black hidden dark:block')|safe }}
      {{ '/src/_assets/icons/dark.svg'|svgContents('icon text-2xl text-white dark:hidden')|safe }}
    </button>
    {{ content|safe }}
  </body>
  <script src="/static/app.bundled.js"></script>
</html>
