.link {
  @apply transition-all duration-200;

  display: inline-block;
  text-decoration: underline;
  text-decoration-color: currentColor;
  text-decoration-thickness: 1.5px;
  text-underline-position: under;
  text-underline-offset: 4px;

  &:hover,
  &:focus {
    @apply text-brand-medium dark:text-brand-light;

    text-decoration-color: transparent;
    text-underline-offset: 6px;
  }
}

.link-box {
  position: relative;

  .link-overlay:before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 1;
  }

  a:not(.link-overlay) {
    position: relative;
    z-index: 2;
  }
}
