@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .link {
    font-weight: bold;
    text-decoration: underline;
    text-underline-position: under;
    transition: all 200ms ease-in-out;
  }

  .link:hover,
  .link:focus {
    color: theme(colors.brand);
    text-decoration-color: transparent;
  }

  .link-reverse {
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: transparent;
    text-underline-position: under;
    transition: all 200ms ease-in-out;
  }

  .link-reverse:hover,
  .link-reverse:focus {
    color: theme(colors.brand);
    text-decoration-color: currentColor;
  }

  .link-overlay {
    position: relative;
  }

  .link-overlay__link:before {
    position: absolute;
    inset: 0;
    display: block;
    content: '';
  }

  .link-overlay a[href]:not(.link-overlay__link) {
    position: relative;
    z-index: 1;
  }
}
