@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .link {
    text-decoration: underline;
    text-underline-position: under;
    transition: all 200ms ease-in-out;
  }

  .link:hover,
  .link:focus {
    color: theme(colors.brand);
    text-decoration-color: transparent;
  }

  .link-reverse {
    text-decoration: underline;
    text-decoration-color: transparent;
    text-underline-position: under;
    transition: all 200ms ease-in-out;
  }

  .link-reverse:hover,
  .link-reverse:focus {
    color: theme(colors.brand);
    text-decoration-color: currentColor;
  }

  .link-overlay {
    position: relative;
  }

  .link-overlay__link:before {
    position: absolute;
    inset: 0;
    display: block;
    content: '';
  }

  .link-overlay a[href]:not(.link-overlay__link) {
    position: relative;
    z-index: 1;
  }
}

@keyframes wave-animation {
  0% {
    transform: rotate(0);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0);
  }
  to {
    transform: rotate(0);
  }
}

.wave {
  line-height: 1;
  transform-origin: 70% 70%;
}
