---
import { Wordmark } from '.';
import { getCountryList } from '../sanity/queries';

interface Props {
  activeCountries?: string[];
}

const countries = await getCountryList();

const { activeCountries = [] } = Astro.props;
---

<header class="flex items-center gap-12 bg-gray-100 py-2x px-8 overflow-x-auto">
  <a href="/">
    <Wordmark size={1} />
  </a>
  <nav class="flex items-center gap-4 overflow-x-auto">
    {
      countries.map((country) => (
        <a
          class="inline-block whitespace-nowrap text-sm underline-offset-4"
          class:list={[
            activeCountries.includes(country._id)
              ? 'underline order-1'
              : 'order-2',
          ]}
          href={`/country/${country.slug}`}
          transition:name={`country_link_${country._id}`}
        >
          {country.name}
        </a>
      ))
    }
  </nav>
</header>
