---
import { cva, type VariantProps } from 'class-variance-authority';

const sectionVariants = cva(
  ['mx-auto', 'md:grid', 'md:grid-cols-12', 'gap-4', 'max-w-screen-2xl'],
  {
    variants: {
      spacing: {
        sm: ['my-6', 'md:my-8', 'lg:my-12'],
        md: ['my-8', 'md:my-12', 'lg:my-16'],
        lg: ['my-12', 'md:my-24', 'lg:my-32'],
        none: [],
      },
    },
    defaultVariants: {
      spacing: 'sm',
    },
  },
);

export type Props = VariantProps<typeof sectionVariants>;

const { spacing, ...props } = Astro.props;
---

<section class:list={sectionVariants({ spacing })} {...props}>
  <slot />
</section>
