---
import { useSanityClient } from '@sanity/astro';
import { Wordmark } from '../components';

interface Country {
  _id: string;
  countryCode: string;
  name: string;
  slug: string;
}

interface Props {
  activeCountries?: string[];
}

const client = useSanityClient();
const countries = await client.fetch<Country[]>(
  `*[_type == "country"]|order(name asc) {
    _id,
    countryCode,
    name,
    "slug": slug.current,
  }`,
);

const { activeCountries = [] } = Astro.props;
---

<header
  class="sticky top-0 z-50 flex items-center gap-5 px-5 overflow-x-auto transition-transform duration-500 bg-white bg-opacity-70 backdrop-blur-lg drop-shadow-sm border-b border-gray-200"
  transition:name="site-header"
>
  <a href="/">
    <Wordmark size={1} />
  </a>
  <nav class="flex items-center gap-2 overflow-x-auto py-4">
    {
      countries.map((country) => (
        <a
          class="inline-block py-2 px-3 rounded-full whitespace-nowrap text-sm underline-offset-4 leading-none"
          class:list={[
            activeCountries.includes(country._id)
              ? 'bg-black text-white order-1'
              : 'bg-gray-100 order-2',
          ]}
          href={`/country/${country.slug}`}
          transition:name={`country-nav_${country._id}`}
        >
          {country.name}
        </a>
      ))
    }
  </nav>
</header>
