---
const sizes = [
  'inherit',
  'text-step-0',
  'text-step-1',
  'text-step-2',
  'text-step-3',
  'text-step-4',
  'text-step-5',
] as const;

interface Props {
  size?: keyof typeof sizes;
}

const { size } = Astro.props;
---

<span
  class:list={['wordmark font-extrabold', (size && sizes?.[size]) || sizes[0]]}
>
  callum.co.uk
</span>
