---
const props = Astro.props;
const { node, index, isInline, ...attrs } = props;
const styleIs = (style: string) => style === node.style;
const headingId = node?._key ? `heading-${node._key}` : undefined;
const headingAttrs = headingId
  ? { ...attrs, id: attrs.id ?? headingId }
  : attrs;
---

{
  styleIs('h1') ? (
    <h1
      class="t-h1 content-block-heading content-block-heading-1"
      {...headingAttrs}
    >
      <slot />
    </h1>
  ) : styleIs('h2') ? (
    <h2
      class="t-h2 content-block-heading content-block-heading-2"
      {...headingAttrs}
    >
      <slot />
    </h2>
  ) : styleIs('h3') ? (
    <h3
      class="t-h3 content-block-heading content-block-heading-3"
      {...headingAttrs}
    >
      <slot />
    </h3>
  ) : styleIs('h4') ? (
    <h4
      class="t-h4 content-block-heading content-block-heading-4"
      {...headingAttrs}
    >
      <slot />
    </h4>
  ) : styleIs('h5') ? (
    <h5
      class="t-h5 content-block-heading content-block-heading-4"
      {...headingAttrs}
    >
      <slot />
    </h5>
  ) : styleIs('h6') ? (
    <h6
      class="t-h6 content-block-heading content-block-heading-4"
      {...headingAttrs}
    >
      <slot />
    </h6>
  ) : styleIs('blockquote') ? (
    <blockquote class="content-block-quote" {...attrs}>
      <slot />
    </blockquote>
  ) : styleIs('normal') ? (
    <p class="t-text-md content-block-copy" {...attrs}>
      <slot />
    </p>
  ) : (
    <p class="t-text-md content-block-copy" {...props}>
      <slot />
    </p>
  )
}

<style is:global>
  .content-block-heading {
    scroll-margin-top: 6rem;
  }

  .content-block-heading-1 {
    margin-block: 3rem 1.5rem;
  }

  .content-block-heading-2 {
    margin-block: 2.5rem 1.25rem;
  }

  .content-block-heading-3 {
    margin-block: 2rem 1rem;
  }

  .content-block-heading-4 {
    margin-block: 1.5rem 0.75rem;
  }

  .content-block-copy {
    margin-block: 1.25rem;
  }

  .content-block-quote {
    margin-block: 1.5rem;
    padding-block: 0.5rem;
    padding-left: 1.5rem;
    border-left: 4px solid hsl(225 80% 70%);
    color: oklch(87.2% 0.01 258.338);
    font-style: italic;
  }

  .content-block-heading:first-child,
  .content-block-copy:first-child,
  .content-block-quote:first-child {
    margin-top: 0;
  }

  .content-block-heading:last-child,
  .content-block-copy:last-child,
  .content-block-quote:last-child {
    margin-bottom: 0;
  }
</style>
