---
import SanityPicture from 'astro-sanity-picture';
import Section from '../Section.astro';
import { imageBuilder } from '~/sanity/image';

const { caption, image } = Astro.props.node;
---

<Section data-block="image" width="mobile-full">
  <figure>
    <div class="article-image-frame">
      <SanityPicture
        src={image}
        imageUrlBuilder={imageBuilder}
        style={{
          width: '100%',
          height: 'auto',
        }}
        sizes="(max-width: 767px) 100vw, (max-width: 1535px) calc(100vw - 4rem), 1400px"
        widths={[640, 960, 1280, 1600]}
        sources={[{ options: { quality: 76 } }]}
        img={{
          alt: image.asset.alt || caption || '',
          decoding: 'async',
          loading: 'lazy',
        }}
      />
    </div>
    {
      caption && (
        <div class="article-image-caption-shell">
          <div class="u-container u-container-6xl">
            <figcaption class="t-figure-caption article-image-caption u-prose">
              {caption}
            </figcaption>
          </div>
        </div>
      )
    }
  </figure>
</Section>

<style is:global>
  .article-image-caption {
    margin-top: clamp(0.75rem, 0.4375rem + 0.65vw, 1rem);
    color: var(--color-gray-400);
    text-align: left;
  }

  .article-image-caption-shell {
    position: relative;
    left: 50%;
    width: 100vw;
    transform: translateX(-50%);
  }
</style>
