---
import SanityPicture from 'astro-sanity-picture';
import Section from '../Section.astro';
import { imageBuilder } from '~/sanity/image';

const { caption, image } = Astro.props.node;
---

<Section data-block="image" width="lg">
  <figure class="space-y-3">
    <div class="rounded-xl overflow-hidden shadow-lg border border-gray-800">
      <SanityPicture
        src={image}
        imageUrlBuilder={imageBuilder}
        style={{
          width: '100%',
          height: 'auto',
        }}
        sizes="(max-width: 1535px) calc(100vw - 4rem), 1400px"
        loading="lazy"
        img={{
          alt: image.asset.alt || caption || '',
        }}
      />
    </div>
    {
      caption && (
        <figcaption class="type-text-sm italic text-center text-gray-400 px-4 max-w-3xl mx-auto">
          {caption}
        </figcaption>
      )
    }
  </figure>
</Section>
