---
import SanityPicture from 'astro-sanity-picture';
import Section from '../Section.astro';
import { imageBuilder } from '~/sanity/image';

const { caption, image } = Astro.props.node;
---

<Section data-block="image" width="mobile-full">
  <figure>
    <div class="article-image-frame">
      <SanityPicture
        src={image}
        imageUrlBuilder={imageBuilder}
        style={{
          width: '100%',
          height: 'auto',
        }}
        sizes="(max-width: 767px) 100vw, (max-width: 1535px) calc(100vw - 4rem), 1400px"
        widths={[640, 960, 1280, 1600]}
        sources={[{ options: { quality: 76 } }]}
        img={{
          alt: image.asset.alt || caption || '',
          decoding: 'async',
          loading: 'lazy',
        }}
      />
    </div>
    {
      caption && (
        <div class="relative left-1/2 w-screen -translate-x-1/2">
          <div class="container max-w-6xl">
            <figcaption class="type-figure-caption article-image-caption max-w-prose">
              {caption}
            </figcaption>
          </div>
        </div>
      )
    }
  </figure>
</Section>
