---
import SanityPicture from 'astro-sanity-picture';
import { imageBuilder } from '~/sanity/image';
import { Text } from '~/components';

const { images } = Astro.props.node;
---

<section
  class="relative"
  x-data="{
    showOverlay: false,
    get track() {
      return this.$refs?.imageGalleryTrack;
    },
    init() {
      if (!this.track) return;
      console.log('track');
      this.showOverlay = this.track.scrollLeft === 0;
      this?.track.addEventListener(
        'scroll',
        () => this.showOverlay = this.track.scrollLeft === 0,
        { passive: true }
      );
    },
  }"
>
  <div
    class="wrapper my-8 md:my-12 lg:my-16 fade-in-up"
    x-ref="imageGalleryTrack"
  >
    <div class="relative container max-w-full lg:max-w-screen-xl">
      <div class="flex gap-4 lg:gap-8 items-center">
        {
          images.map(({ caption, image }, index) => (
            <div class="item">
              <SanityPicture
                src={image}
                imageUrlBuilder={imageBuilder}
                style={{
                  maxHeight: '95vh',
                  objectFit: 'cover',
                }}
                sizes="(max-width: 896px) calc(75vw - 3rem) , 768px"
                loading="lazy"
                img={{
                  alt: image.asset.alt || caption || '',
                }}
              />
            </div>
          ))
        }
      </div>
    </div>
  </div>

  <div
    class="absolute top-1/2 z-10 w-full pointer-events-none fade-in transition-all duration-500 -translate-y-1/2"
    x-cloak
    :class="showOverlay ? 'translate-x-0' : 'opacity-0 -translate-x-8'"
  >
    <div class="container max-w-full lg:max-w-screen-xl">
      <p
        class="inline-block py-2 px-4 bg-white/80 dark:bg-gray-800/80 rounded-full ml-4"
      >
        <Text as="span" size="sm">
          Scroll for more

          <svg
            class="inline-block h-[1.3em] w-[1.3em] translate-y-[-5%]"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 256 256"
            aria-label="Right arrow"
          >
            <path
              d="M221.66,133.66l-72,72a8,8,0,0,1-11.32-11.32L196.69,136H40a8,8,0,0,1,0-16H196.69L138.34,61.66a8,8,0,0,1,11.32-11.32l72,72A8,8,0,0,1,221.66,133.66Z"
            ></path>
          </svg>
        </Text>
      </p>
    </div>
  </div>
</section>

<style scoped>
  .wrapper {
    overflow-x: auto;
    scroll-snap-type: x mandatory;
  }

  @supports (animation-range: normal) {
    @media (prefers-reduced-motion: no-preference) {
      .item {
        flex: 1 0 auto;
        width: min(calc(100vw - 8rem), 48rem);

        view-timeline-name: --subjectReveal;
        animation-timeline: --subjectReveal;
        animation-name: fadeInSide;
        animation-fill-mode: both;
        animation-duration: 1ms; /* Firefox requires this to apply the animation */
        animation-range: entry entry 70%;
        view-timeline-axis: inline;
      }

      @keyframes fadeInSide {
        0% {
          opacity: 0;
          transform: translateX(min(10rem, 25vw));
        }

        50% {
          opacity: 0.25;
        }

        100% {
          opacity: 1;
          transform: translateX(0px);
        }
      }
    }
  }
</style>
