---
import SanityPicture from 'astro-sanity-picture';
import Text from '../Text.astro';
import Section from '../Section.astro';
import { imageBuilder } from '~/sanity/image';

const { caption, image } = Astro.props.node;
---

<Section data-block="image">
  <figure class="fade-in-up space-y-2">
    <SanityPicture
      src={image}
      imageUrlBuilder={imageBuilder}
      style={{
        maxHeight: '95vh',
        objectFit: 'cover',
        width: '100%',
      }}
      sizes="(max-width: 1279px) calc(100vw - 2rem), 1120px"
      loading="lazy"
      img={{
        alt: image.asset.alt || caption || '',
      }}
    />
    {
      caption && (
        <Text as="figcaption" size="sm" class:list="italic">
          {caption}
        </Text>
      )
    }
  </figure>
</Section>
