---
import SanityPicture from 'astro-sanity-picture';
import { imageBuilder } from '~/sanity/image';

const { images } = Astro.props.node;
---

<section
  class="wrapper my-8 md:my-12 lg:my-16 fade-in-up"
  data-block="image-gallery"
>
  <div class="container max-w-full lg:max-w-screen-xl">
    <div class="track grid gap-4 lg:gap-8 items-center fade-in-up">
      {
        images.map(({ caption, image }) => (
          <SanityPicture
            src={image}
            imageUrlBuilder={imageBuilder}
            style={{
              maxHeight: '95vh',
              objectFit: 'cover',
            }}
            sizes="(max-width: 896px) calc(75vw - 3rem) , 768px"
            loading="lazy"
            img={{
              alt: image.asset.alt || caption || '',
            }}
          />
        ))
      }
    </div>
  </div>
</section>

<style scoped>
  .wrapper {
    overflow-x: auto;
    scroll-snap-type: x mandatory;
  }

  .track {
    grid: auto / auto-flow min(calc(100vw - 8rem), 768px);
  }
</style>
