---
import SanityImage from '../SanityImage.astro';
import Section from '../Section.astro';

const { images } = Astro.props.node;
---

<Section width="lg" data-block="inline-images">
  <div
    class="grid gap-x-16 gap-y-8 grid-cols-1 md:grid-cols-dynamic items-center justify-center fade-in-up"
    style={`--column-count: ${images.length};`}
  >
    {
      images.map(({ caption, image }) => (
        <SanityImage
          image={image}
          alt={image.asset.alt || caption || ''}
          loading="lazy"
        />
      ))
    }
  </div>
</Section>
