---
import ArticleTeaser from '~/components/ArticleTeaser.astro';
import Section from '~/components/Section.astro';
import TeaserGrid from '~/components/TeaserGrid.astro';
import { getLatestPosts } from '~/sanity/queries';
import BaseLayout from '~/layouts/BaseLayout.astro';

const posts = await getLatestPosts(2);
---

<BaseLayout
  meta={{
    title: '404, Lost in the Digital Wilderness | Travel Blog | callum.co.uk',
    description:
      "Oops! It seems like you've taken a detour into the digital wilderness. Don't fret; let us guide you back to the heart of your wanderlust.",
  }}
>
  <Section spacing="md">
    <div class="u-container">
      <div class="not-found-content u-container-2xl">
        <h1 class="t-h1 not-found-title">404: Page not found!</h1>
        <p class="t-text-lg not-found-copy u-text-muted">
          Oops! It seems you've taken a detour to the unknown. But don't worry,
          getting lost is all part of the adventure.
        </p>
        <p>
          <a class="t-action link" href="/"> Go to the home page </a>
        </p>
      </div>
    </div>
  </Section>

  {
    posts.length > 0 && (
      <TeaserGrid>
        {posts.map((post) => (
          <ArticleTeaser {...post} lazy />
        ))}
      </TeaserGrid>
    )
  }
</BaseLayout>

<style>
  .not-found-title,
  .not-found-copy {
    margin-bottom: clamp(1.5rem, 0.875rem + 1.3vw, 2rem);
  }

  .not-found-content {
    margin-inline: auto;
    text-align: center;
  }
</style>
