---
import ArticleTeaser from '~/components/ArticleTeaser.astro';
import Section from '~/components/Section.astro';
import TeaserGrid from '~/components/TeaserGrid.astro';
import { getLatestPosts } from '~/sanity/queries';
import BaseLayout from '~/layouts/BaseLayout.astro';
import { typeStyle } from '~/utils/typography';

const posts = await getLatestPosts(2);
---

<BaseLayout
  meta={{
    title: '404, Lost in the Digital Wilderness | Travel Blog | callum.co.uk',
    description:
      "Oops! It seems like you've taken a detour into the digital wilderness. Don't fret; let us guide you back to the heart of your wanderlust.",
  }}
>
  <Section spacing="md">
    <div class="container">
      <div class="mx-auto max-w-2xl text-center">
        <h1 class:list={[typeStyle({ variant: 'h1' }), 'mb-6 lg:mb-8']}>
          404: Page not found!
        </h1>
        <p
          class:list={[
            typeStyle({ variant: 'textLg' }),
            'mb-6 text-gray-400 lg:mb-8',
          ]}
        >
          Oops! It seems you've taken a detour to the unknown. But don't worry,
          getting lost is all part of the adventure.
        </p>
        <p>
          <a class:list={[typeStyle({ variant: 'action' }), 'link']} href="/">
            Go to the home page
          </a>
        </p>
      </div>
    </div>
  </Section>

  {
    posts.length > 0 && (
      <TeaserGrid>
        {posts.map((post) => (
          <ArticleTeaser {...post} lazy />
        ))}
      </TeaserGrid>
    )
  }
</BaseLayout>
