---
import {
  ArticleTeaser,
  Section,
  TeaserGrid,
} from '~/components';
import { getLatestPosts } from '~/sanity/queries';
import { BaseLayout } from '~/layouts';

const posts = await getLatestPosts(2);
---

<BaseLayout
  meta={{
    title: '404, Lost in the Digital Wilderness | Travel Blog | callum.co.uk',
    description:
      "Oops! It seems like you've taken a detour into the digital wilderness. Don't fret; let us guide you back to the heart of your wanderlust.",
  }}
>
  <Section spacing="md">
    <div class="container">
      <div class="max-w-2xl text-center mx-auto">
        <h1 class="type-h1 mb-6 lg:mb-8">404: Page not found!</h1>
        <p class="type-text-lg mb-6 lg:mb-8 text-gray-400">
          Oops! It seems you've taken a detour to the unknown. But don't worry,
          getting lost is all part of the adventure.
        </p>
        <p>
          <a class="link font-medium text-lg" href="/">Go to the home page</a>
        </p>
      </div>
    </div>
  </Section>

  {
    posts.length > 0 && (
      <TeaserGrid>
        {posts.map((post) => (
          <ArticleTeaser {...post} lazy />
        ))}
      </TeaserGrid>
    )
  }
</BaseLayout>
