---
import { ArticleTeaser, Heading, Section, Text } from '~/components';
import { getLatestPosts } from '~/sanity/queries';
import { BaseLayout } from '~/layouts';

const posts = await getLatestPosts();
---

<BaseLayout
  title="About Me"
  description="Lorem ipsum dolor sit amet"
  image="/blog-placeholder-about.jpg"
>
  <Section spacing="md" slot="header">
    <header
      class="flex flex-col items-center justify-center col-span-12 px-5 py-6 mb-16 lg:col-start-3 lg:px-0 md:mb-0 text-center"
    >
      <img class="h-64 w-auto mb-6 aspect-square" src="/intro.jpg" />
      <div class="max-w-prose mx-auto">
        <Heading as="h1" size="h1" class:list="mb-10">
          Discovering offbeat travel destinations worldwide through my travel
          blog.
        </Heading>
        <Text size="lg">
          Check out my most recent blog posts below, and be sure to follow me on
          social media!
        </Text>
      </div>
    </header>
  </Section>

  <Section spacing="md">
    <div class="px-5 md:col-span-8 md:col-start-2 lg:col-start-3 md:px-0">
      <div class="space-y-12">
        {posts.map((post) => <ArticleTeaser {...post} />)}
      </div>
    </div>
  </Section>
</BaseLayout>
