---
import { ArticleTeaser, PageTitle, Section } from '../../components';
import { BaseLayout } from '../../layouts';
import { getCountries } from '../../sanity/queries';

export async function getStaticPaths() {
  const countries = await getCountries();
  return countries.map((country) => ({
    params: { slug: country.slug },
    props: country,
  }));
}

type Props = CountryWithPosts;

const country = Astro.props;
---

<BaseLayout activeCountries={[country._id]}>
  <Section spacing="md">
    <div class="px-5 md:col-span-8 md:col-start-2 lg:col-start-3 md:px-0">
      <PageTitle className="mb-4 lg:mb-16">
        Posts in {country.name}
      </PageTitle>
      <div class="space-y-12">
        {country.posts.map((post) => <ArticleTeaser {...post} />)}
      </div>
    </div>
  </Section>
</BaseLayout>
