---
const filterId = `bubble-arrow-goo-${Math.random().toString(36).slice(2, 10)}`;
---

<span class="bubble-arrow-link__surface" aria-hidden="true">
  <svg
    class="bubble-arrow-link__filter"
    width="0"
    height="0"
    color-interpolation-filters="sRGB"
    focusable="false"
  >
    <defs>
      <filter id={filterId}>
        <feGaussianBlur in="SourceGraphic" stdDeviation="5" result="blur"
        ></feGaussianBlur>
        <feColorMatrix
          in="blur"
          mode="matrix"
          values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9"
          result="buttonFilter"></feColorMatrix>
        <feComposite
          in="SourceGraphic"
          in2="buttonFilter"
          operator="atop"
          result="composite"></feComposite>
        <feBlend in="SourceGraphic" in2="composite"></feBlend>
      </filter>
    </defs>
  </svg>

  <span
    class="bubble-arrow-link__shapes"
    style={`filter: url(#${filterId}); -webkit-filter: url(#${filterId});`}
  >
    <svg
      class="bubble-arrow-link__body-shape"
      viewBox="0 0 100 44"
      preserveAspectRatio="none"
      focusable="false"
    >
      <rect x="0" y="0" width="100" height="44" rx="22" ry="22"></rect>
    </svg>
    <svg
      class="bubble-arrow-link__bubble-shape"
      viewBox="0 0 44 44"
      focusable="false"
    >
      <circle cx="22" cy="22" r="22"></circle>
    </svg>
  </span>
</span>
