<div role="img" aria-label="Logo for Callum.co.uk" {...Astro.props}>
  <svg
    class="pointer-events-none block h-[1em] w-[1em]"
    viewBox="0 0 541 749"
    fill="none"
    aria-hidden="true"
  >
    <use href="/logo-symbol.svg#logo-mark"></use>
  </svg>
</div>
