---
import { cva, type VariantProps } from 'class-variance-authority';

const sectionVariants = cva(['container'], {
  variants: {
    spacing: {
      sm: ['my-8', 'md:my-12', 'lg:my-16'],
      md: ['my-12', 'md:my-16', 'lg:my-20'],
      lg: ['my-16', 'md:my-24', 'lg:my-32'],
      none: [],
    },
    width: {
      default: 'max-w-screen-xl',
      lg: 'max-w-screen-2xl',
    },
  },
  defaultVariants: {
    spacing: 'sm',
    width: 'default',
  },
});

export type Props = VariantProps<typeof sectionVariants>;

const { spacing, width, ...props } = Astro.props;
---

<section class:list={sectionVariants({ spacing, width })} {...props}>
  <slot />
</section>
