---
type SectionSpacing = 'sm' | 'md' | 'lg' | 'none';
type SectionWidth = 'default' | 'article' | 'lg' | 'full' | 'mobile-full';

export type Props = {
  spacing?: SectionSpacing;
  width?: SectionWidth;
};

const sectionSpacing: Record<SectionSpacing, string> = {
  sm: 'l-section-sm',
  md: 'l-section-md',
  lg: 'l-section-lg',
  none: '',
};

const sectionWidth: Record<SectionWidth, string> = {
  default: 'u-container u-container-screen-xl',
  article: 'u-container u-container-6xl',
  lg: 'u-container u-container-screen-2xl',
  full: 'u-full u-px-responsive',
  'mobile-full':
    'u-full u-container-from-md u-container-screen-2xl u-px-responsive',
};

const { spacing, width, ...props } = Astro.props;
const contentBlockSpacingReset = props['data-block']
  ? 'section-block-spacing-reset'
  : undefined;
---

<section
  class:list={[
    sectionSpacing[spacing ?? 'sm'],
    sectionWidth[width ?? 'default'],
    contentBlockSpacingReset,
  ]}
  {...props}
>
  <slot />
</section>

<style>
  .section-block-spacing-reset:first-child {
    margin-top: 0;
  }

  .section-block-spacing-reset:last-child {
    margin-bottom: 0;
  }
</style>
