---
import { cva, type VariantProps } from 'class-variance-authority';

const sectionVariants = cva([], {
  variants: {
    spacing: {
      sm: ['my-8', 'md:my-12', 'lg:my-16'],
      md: ['my-12', 'md:my-16', 'lg:my-20'],
      lg: ['my-16', 'md:my-24', 'lg:my-32'],
      none: [],
    },
    width: {
      default: 'container max-w-screen-xl',
      article: 'container max-w-6xl',
      lg: 'container max-w-screen-2xl',
      full: 'w-full px-4 md:px-6 lg:px-8',
      'mobile-full': 'w-full md:container md:max-w-screen-2xl md:px-6 lg:px-8',
    },
  },
  defaultVariants: {
    spacing: 'sm',
    width: 'default',
  },
});

export type Props = VariantProps<typeof sectionVariants>;

const { spacing, width, ...props } = Astro.props;
const contentBlockSpacingReset = props['data-block']
  ? 'first:!mt-0 last:!mb-0'
  : undefined;
---

<section
  class:list={[sectionVariants({ spacing, width }), contentBlockSpacingReset]}
  {...props}
>
  <slot />
</section>
