---
import { typeStyle } from '~/utils/typography';

export type TableOfContentsItem = {
  children: TableOfContentsItem[];
  href: string;
  text: string;
};

type Props = {
  isNested?: boolean;
  items: TableOfContentsItem[];
};

const { isNested = false, items } = Astro.props;
---

<ul
  class:list={[
    'm-0 grid list-disc gap-2 pl-5',
    isNested && 'mt-2 gap-1.5 pl-5',
  ]}
>
  {
    items.map((item) => (
      <li class="toc-item m-0">
        <a
          class:list={[
            typeStyle({ variant: 'tocLink' }),
            'link link-on-hover text-balance text-gray-200',
          ]}
          href={item.href}
        >
          {item.text}
        </a>

        {item.children.length > 0 && (
          <Astro.self items={item.children} isNested />
        )}
      </li>
    ))
  }
</ul>

<style>
  .toc-item::marker {
    color: rgb(255 255 255 / 0.4);
  }
</style>
