---
export type TableOfContentsItem = {
  children: TableOfContentsItem[];
  href: string;
  text: string;
};

type Props = {
  isNested?: boolean;
  items: TableOfContentsItem[];
};

const { isNested = false, items } = Astro.props;
---

<ul
  class:list={[
    'toc-list u-m-0',
    isNested && 'u-mt-2',
  ]}
>
  {
    items.map((item) => (
      <li class="toc-item u-m-0">
        <a
          class="t-toc-link link link-on-hover u-text-balance u-text-soft"
          href={item.href}
        >
          {item.text}
        </a>

        {item.children.length > 0 && (
          <Astro.self items={item.children} isNested />
        )}
      </li>
    ))
  }
</ul>

<style>
  .toc-list {
    display: grid;
    gap: 0.5rem;
    padding-left: 1rem;
    list-style: disc;
  }

  .toc-item::marker {
    color: rgb(255 255 255 / 0.4);
  }
</style>
