---
import Section from './Section.astro';
---

<div
  class="container mx-auto grid max-w-screen-2xl grid-cols-1 gap-x-6 gap-y-20 md:grid-cols-2 md:gap-x-5 lg:grid-cols-3 lg:gap-x-6"
>
  <slot />
</div>
