<div {...Astro.props}>
  <svg
    class="pointer-events-none h-[1em] w-[2.44em]"
    viewBox="0 0 893 366"
    fill="none"
    aria-hidden="true"
  >
    <use href="/wordmark-symbol.svg#wordmark"></use>
  </svg>
</div>
