---
layout: base.njk
title: Callum.fyi | Callum Bonnyman | Frontend Develoepr
---

<main id="content" class="px-8 my-32 max-w-xl mx-auto">
  {{ '/src/_assets/icons/robot.svg'|svgContents('icon mb-2 md:mb-4 lg:mb-8 text-5xl md:text-7xl lg:text-9xl text-black dark:text-white')|safe }}
  <h1 class="font-bold text-2xl md:text-4xl lg:text-5xl md:mb-2">Callum Bonnyman</h1>
  <h2 class="font-medium text-lg md:text-2xl lg:text-4xl mb-6 md:mb-8 lg:mb-16">Frontend Developer</h2>
  <p class="md:text-lg mb-4 md:mb-8">
    Currently working remote somewhere in Europe. I love building performant
    and accessible websites and solving complex problems in the browser.
  </p>
  <p class="md:text-lg">
    Find me on
    <a href="https://www.instagram.com/etocallum" rel="nofollow" target="_blank">Instagram<span class="sr-only"> (opens in new tab)</span></a>,
    <a href="https://github.com/wrux" rel="nofollow" target="_blank">Github<span class="sr-only"> (opens in new tab)</span></a>
    or on my travel blog;
    <a href="https://bloke.blog" target="_blank">Bloke Blog<span class="sr-only"> (opens in new tab)</span></a>.
  </p>
</main>
